<mat-card>
    <mat-card-header>
        <mat-card-title>Your Profile Details</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="../../../assets/logo.png" class="profile-image">
                    <h1 class="mt20" style="font-weight: bold;">{{user.firstName}} {{user.lastName}}</h1>
                </div>


                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table details -->
                        <table class="table text-center">
                            <caption>{{user.authorities[0].authority}} DETAILS</caption>
                            <tbody>
                                <tr>
                                    <th scope="row">Username</th>
                                    <td>{{user.username}}</td>
                                </tr>

                                <tr>
                                    <th scope="row">User ID</th>
                                    <td>EXAM{{user.id}}</td>
                                </tr>
                                <tr *ngIf="user.phone">
                                    <th scope="row">Phone</th>
                                    <td>{{user.phone}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Role</th>
                                    <td>{{user.authorities[0].authority}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Status</th>
                                    <td>{{user.enabled?"ACTIVE":"INACTIVE"}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <mat-card-actions class="text-center">
                            <button mat-raised-button color="primary">UPDATE</button>
                            <button mat-raised-button color="accent">SHARE</button>
                        </mat-card-actions>


                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>