<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png">
                </div>
                <h1 class="text-center">Register Here</h1>

                <form action="#">
                    <!-- User Name field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username*">
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password*">
                    </mat-form-field>

                    <!-- First Name field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name*">
                    </mat-form-field>

                    <!-- Last Name field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name*">
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email*">
                    </mat-form-field>

                    <!-- Phone field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="number" matInput placeholder="Phone*">
                    </mat-form-field>

                    <div class="container text-center">
                        <button class="btn-margin" mat-raised-button color="primary">Register</button>
                        <button class="btn-margin" mat-raised-button color="accent">Clear</button>
                    </div>

                </form>



            </div>
        </div>



    </div>
</div>