<mat-card>
    <mat-card-title>Add New Quiz</mat-card-title>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="">

                    <mat-form-field class="w100 mt20" appearance="outline">
                        <mat-label>Enter Title</mat-label>
                        <input matInput type="text" name="title" placeholder="Enter here">
                    </mat-form-field>

                    <mat-form-field class="w100 mt20" appearance="outline">
                        <mat-label>Enter Description</mat-label>
                        <textarea matInput type="text" name="description" rows="10" placeholder="Enter here"></textarea>
                    </mat-form-field>

                    <div class="row">

                        <div class="col-md-6">
                            <!-- MAX MARKS -->
                            <mat-form-field class="w100 mt20" appearance="outline">
                                <mat-label>Maximum Marks</mat-label>
                                <input matInput type="text" name="maxMarks" placeholder="Enter here">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <!-- No. of question -->
                            <mat-form-field class="w100 mt20" appearance="outline">
                                <mat-label>Number of Questions</mat-label>
                                <input matInput type="text" name="numberOfQuestions" placeholder="Enter here">
                            </mat-form-field>
                        </div>

                    </div>
                </form>

                <!-- publish QUIZ -->
                <mat-slide-toggle class="mt20" color="primary" checked="false">Publish Quiz</mat-slide-toggle>
                <br/>
                <!-- category select -->
                <mat-form-field class="mt20 w100" appearance="outline">
                    <mat-label>Select Quiz Category</mat-label>
                    <mat-select  name="category">
                        <mat-option *ngFor="let c of categories" [value]="c.cid">
                            {{c.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="container text-center">
                    <button mat-raised-button type="submit" color="primary">Add Quiz</button>
                </div>

            </div>
        </div>
    </div>
</mat-card>